<div>
  <h2>Initiatief</h2>
  <select>
    {{#each this.model.initiatives as |initiative|}}
      <option>{{initiative}}</option>
    {{/each}}
  </select><br>
  <h2>Templates</h2>
  <button type="button" {{on "click" this.kleutersTemplate}}>Kleuters</button>
  <button type="button" {{on "click" this.lagerTemplate}}>Lager</button>
  <h2>Per locatie</h2>
  <ul>
  {{#each this.itemsToDisplay.perLocatie as |item|}}
    <li><input type="number" value={{item.amount}} size="2" min="0"/>{{item.name}}</li>
  {{/each}}
  </ul>
  <h2>Basiskoffer</h2>
  <ul>
    {{#each this.itemsToDisplay.basiskoffer as |item|}}
      <li><input type="number" value={{item.amount}} size="2" min="0"/>{{item.name}}</li>
    {{/each}}
  </ul>
  <h2>Gadgets</h2>
  <ul>
    {{#each this.itemsToDisplay.gadgets as |item|}}
      <li><input type="number" value={{item.amount}} size="2" min="0"/>{{item.name}}</li>
    {{/each}}
  </ul>
  <h2>Catalogus</h2>
  <ul>
    {{#each this.itemsToDisplay.catalogus as |item|}}
      <li><input type="number" value={{item.amount}} size="2" min="0"/>{{item.name}} ({{item.code}})</li>
    {{/each}}
    <li><input type="text"><input type="button" value="+" onClick={{this.addCatalogusItem}}></li>
  </ul>
  <h2>Extra</h2>
  <textarea>Hier nog extra opmerkingen</textarea><br>
  <button>Opslaan</button>
  <button>Annuleren</button>
</div>