<div>
    <div>
        <h1 class="dib">
            {{default-value @model.name (t "noName")}}
        </h1>
        <LinkTo @route="initiatives.new" @query={{hash location=@model.id}} class="dib fr">
          <Button type="button">
            {{t "initiative.new"}}
          </Button>
        </LinkTo>
        <LinkTo @route="locations.location.edit" @model={{@model.id}} class="dib fr">
            <Button type="button">
                {{t "edit"}}
            </Button>
        </LinkTo>
    </div>
    <p>
        {{default-value @model.description (t "noDescription")}}
    </p>
    <div class="pa3 ba bw1 flex justify-between">
        <div class="dib">
            <h3>
                {{default-value @model.address.street (t "address.noStreet")}}
            </h3>
            <div>
                {{default-value @model.address.city (t "address.noCity")}}
            </div>
            <div>
                <div>
                    {{default-value @model.address.postalCode (t "address.noPostalCode")}}
                </div>
                <div>
                    {{default-value @model.address.region (t "address.noRegion")}}
                </div>
            </div>
            <div>
                {{default-value @model.address.country (t "address.noCountry")}}
            </div>
        </div>
        {{#if @model.latitude}}
          {{#if @model.longitude}}
            <LocationMap @location={{@model}} class="dib w-50"/>
          {{/if}}
        {{/if}}
    </div>

</div>
