<div>
    <div>
        <h1 class="dib">
            {{@model.name}}
        </h1>
        <LinkTo @route="initiatives.new" class="dib fr">
          <Button type="button">
            {{t "initiative.new"}}
          </Button>
        </LinkTo>
        <LinkTo @route="locations.location.edit" @model={{@model.id}} class="dib fr">
            <Button type="button">
                {{t "edit"}}
            </Button>
        </LinkTo>
    </div>
    <p>
        {{@model.description}}
    </p>
    <div class="pa3 ba bw1 flex justify-between">
        <div class="dib">
            <h3>
                {{@model.address.street}}
            </h3>
            <div>
                {{@model.address.city}}
            </div>
            <div>
                <div>
                    {{@model.address.postalCode}}
                </div>
                <div>
                    {{@model.address.region}}
                </div>
            </div>
            <div>
                {{@model.address.country}}
            </div>
        </div>
        <LocationMap @location={{@model}} class="dib w-50"/>
    </div>

</div>
