<ModalDialog
  @targetAttachment="center"
  @onClose="{{this.goBack}}"
  @translucentOverlay={{true}}
>
  {{#if @model.item.container}}
    <h1 class="ph5 tac f1 helvetica">{{t "container.edit"}}</h1>
  {{else}}
    <h1 class="ph5 tac f1 helvetica">{{t "item.edit"}}</h1>
  {{/if}}
  <div class="pa4 flex flex-column">
    <UiForm @onSubmit={{perform this.editItem}}
            @changeSet={{changeset @model.item this.editItemValidation}}
    as |form|>
      <form.Group @for="name" as |group|>
        <group.Label>
          {{t "item.name"}}
        </group.Label>
        <group.Input type="text" />
        <group.Error/>
      </form.Group>

      <form.Group @for="description" as |group|>
        <group.Label>
          {{t "item.description"}}
        </group.Label>
        <group.Input type="textarea" />
        <group.Error/>
      </form.Group>

      {{#unless @model.item.container}}

        <form.Group @for="maxQuantity" as |group|>
          <group.Label>
            {{t "item.maxQuantity"}}
          </group.Label>
          <group.Input type="number" />
          <group.Error/>
        </form.Group>
      {{/unless}}

      <form.Group @for="category" as |group|>
        <group.Label>
          {{t "item.category"}}
        </group.Label>
        <group.Select @options={{@model.categories}} />
        <group.Error/>
      </form.Group>

      <Button @onClick={{this.goBack}}>
        {{t "cancel"}}
      </Button>
      <form.Submit>
        {{t "save"}}
      </form.Submit>
    </UiForm>
  </div>
</ModalDialog>