<div>
  <div>
    <h1 class="dib">
      {{default-value @model.name (t "noName")}}
    </h1>
    <LinkTo @route="initiatives.initiative.edit" @model={{@model.id}} class="dib fr">
      <Button type="button">
        {{t "edit"}}
      </Button>
    </LinkTo>
  </div>
  {{if @model.startDate (format-date @model.startDate day="numeric" month="long" year="numeric") (t "initiative.startDateUnknown")}}
  -
  {{if @model.endDate (format-date @model.endDate day="numeric" month="long" year="numeric") (t "initiative.endDateUnknown")}}
  <p>
    {{default-value @model.description (t "noDescription")}}
  </p>
  <div>
    <h2 class="dib">Reservaties</h2>
    <LinkTo @route="initiatives.initiative.reservation.edit" class="dib fr">
      <Button type="button">
        {{t "edit"}}
      </Button>
    </LinkTo>
  </div>
  <ul>
    {{#each @model.reservations as |reservation|}}
      <li>{{default-value reservation.quantity}}x {{default-value reservation.item.name (t "noName")}}</li>
    {{else}}
      <i>{{t "reservation.none"}}</i>
    {{/each}}
  </ul>
</div>
