<div>
  <div>
    <h1 class="dib">
      {{@model.name}}
    </h1>
    <LinkTo @route="initiatives.initiative.edit" @model={{@model.id}} class="dib fr">
      <Button type="button">
        {{t "edit"}}
      </Button>
    </LinkTo>
  </div>
  {{#if @model.startDate}}
    {{format-date @model.startDate day="numeric" month="long" year="numeric"}}
  {{ else }}
    {{t "initiative.startDateUnknown"}}
  {{/if}}
  -
  {{#if @model.endDate}}
    {{format-date @model.endDate day="numeric" month="long" year="numeric"}}
  {{ else }}
    {{t "initiative.endDateUnknown"}}
  {{/if}}
  <p>
    {{@model.description}}
  </p>
  <h2>Reservaties</h2>
  <b>TODO</b>
</div>
