<div class="pa4">

{{outlet}}
<div >
    {{#if @model.container}}
        <h2>{{t "container.contents"}}</h2>
        <div class="db flex-l flex-column-l">

            <div class="bb bw1"/>

            {{#each @model.children as |child|}}
                <div class="db flex-l justify-between w-100 bl bb bw1">
                    <LinkTo @route="items.item" @model={{child.id}} class="pa2 br bw1 w-100 tc">
                        {{child.name}}
                    </LinkTo>
                    {{#unless child.container}}
                        <span class="pa2 bw1 br w-100 tr" >{{child.maxQuantity}}</span>
                        <span class="pa2 br bw1 w-100 tl">{{child.unit}}</span>
                    {{/unless}}
                </div>
            {{else}}
              <i>{{t "item.noContent"}}</i>
            {{/each}}
        </div>
    {{/if}}

</div>

{{default-value @model.category.name (t "item.noCategory")}}

{{#each @model.transfers as |transfer|}}
    <div>
        {{default-value transfer.to.name (t "noName")}}
    </div>
{{/each}}

</div>
