<div class="pa4">
    <div>
        {{@model.name}}
    </div>
    <div>
        {{@model.description}}
    </div>
    <div>
        {{@model.unit}}
    </div>
    <div>
        {{@model.quantity}}
    </div>
    {{#each @model.children as |child|}}
        <div>
            {{child.name}}
        </div>
    {{/each}}
</div>
