<ModalDialog
  @targetAttachment="center"
  @onClose={{this.goBack}}
  @translucentOverlay={{true}}
>
  {{#if this.container}}
    <h1 class="ph5 tac f1 helvetica">{{t "container.new"}}</h1>
  {{else}}
    <h1 class="ph5 tac f1 helvetica">{{t "item.new"}}</h1>

  {{/if}}
  <div class="pa4 flex flex-column">
    {{#with (changeset @model.item this.newItemValidation) as |changeset|}}
      <UiForm @onSubmit={{perform this.addItem}}
        @changeSet={{changeset}}
        as |form|>
        <form.Group @for="name" as |group|>
          <group.Label>
            {{t "item.name"}}
          </group.Label>
          <group.Input type="text" />
          <group.Error/>
        </form.Group>

        <form.Group @for="description" as |group|>
          <group.Label>
            {{t "item.description"}}
          </group.Label>
          <group.Input @type="textarea" />
          <group.Error/>
        </form.Group>

        {{#unless this.container}}

          <form.Group @for="infinite" as |group|>
            <group.Label>
              {{t "item.infinite"}}
            </group.Label>
            <group.Input @type="checkbox" />
            <group.Error />

          </form.Group>
          {{#unless changeset.infinite}}


            <form.Group @for="maxQuantity" as |group|>
              <group.Label>
                {{t "item.maxQuantity"}}
              </group.Label>
              <group.Input @type="number" />
              <group.Error/>
            </form.Group>
          {{/unless}}

          <form.Group @for="category" as |group|>
            <group.Label>
              {{t "item.category"}}
            </group.Label>
            <group.Select @options={{@model.categories}} />
            <group.Error/>
          </form.Group>
        {{/unless}}

        <Button @onClick={{this.goBack}}>
          {{t "cancel"}}
        </Button>
        <form.Submit>
          {{t "save"}}
        </form.Submit>
      </UiForm>
    {{/with}}
  </div>
</ModalDialog>
