<div
    {{on "drop" this.dropItem}}
    {{on "dragover" this.dragOver}}
    {{on "dragenter" this.dropEnter}}
    {{on "dragleave" this.dropLeave}}
    class="dib"
    ...attributes
>
    <div>
        {{yield}}
    </div>
</div>
