<Sidebar::Collapsible @open={{this.open}} @toggle={{this.toggle}} as |collapsible|>
    <collapsible.header>
        <Sidebar::Link @route="locations.location" @model={{@location}}>
            {{default-value @location.name (t "noName")}}
        </Sidebar::Link>
    </collapsible.header>
    <collapsible.body>
        <div class="flex flex-column">
            {{#each @location.initiatives as |initiative|}}
              <Sidebar::Link @route="initiatives.initiative" @model={{initiative}}>
                {{default-value initiative.name (t "noName")}}
              </Sidebar::Link>
            {{/each}}
        </div>
    </collapsible.body>
</Sidebar::Collapsible>
