<div ...attributes>
    {{#if @label}}
    <label for={{this.controlId}} class={{@labelClass}}>{{@label}}</label>
    {{/if}}
    <input id={{this.controlId}}
              type={{@type}}
           class={{@inputClass}}
              placeholder={{@placeholder}}
           {{on "change" (pick "target.value" @onChange)}}
           disabled={{@disabled}}
           readonly={{@readonly}}
           value={{@value}}
    />
</div>
