<Form
    @for={{this.address}}
         @onSubmit={{@onSubmit}}
    @autoSubmit={{@autoSubmit}}
         @preventsNavigation={{false}}
    ...attributes
    as |form|>
    <Fields::GenericInput
        @form={{form}}
        @for="street"
        @label={{t "address.street"}}
        class="flex justify-between pt2"
        @inputClass="ba bw1"
    />
    <Fields::GenericInput
        @form={{form}}
        @for="city"
        @label={{t "address.city"}}
        class="flex justify-between pt2"
        @inputClass="ba bw1"
    />
    <Fields::GenericInput
        @form={{form}}
        @for="postalCode"
        @label={{t "address.postalCode"}}
        class="flex justify-between pt2"
        @inputClass="ba bw1"
    />
    <Fields::GenericInput

        @for="region"
        @label={{t "address.region"}}
        class="flex justify-between pt2"
        @inputClass="ba bw1"
    />
    <Fields::GenericInput
        @form={{form}}
        @for="country"
        @label={{t "address.country"}}
        class="flex justify-between pt2"
        @inputClass="ba bw1"
    />

</Form>
